.playlist__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.playlist--details {
  display: flex;
  margin: 1rem;
  flex: 1;
}

.playlist--overlay {
  top: 0;
  bottom: 0.3rem;
  right: 0;
  min-width: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--text-white);
  background-color: hsla(0, 0%, 6.7%, 0.8);
}

.playlist__thumbnail {
  position: relative;
  width: 70%;
}

.playlist__name {
  display: flex;
  margin-left: 0.5rem;
  flex: 1;
  flex-flow: column wrap;
}

@media screen and (min-width: 648px) {
  .playlist__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
