.input__search {
  position: relative;
  top: 0;
  margin: 0.5rem;
}

.search-bar {
  display: flex;
  background: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  border-radius: 50px;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border: 1px solid transparent;
}

.search-bar:focus {
  border: 1px solid var(--secondary-color);
}

.search__icon {
  position: absolute;
  z-index: var(--z-index-1);
  top: 0.7rem;
  left: 0.5rem;
}

.display__tags {
  white-space: nowrap;
  padding: 1.5rem 0 0.5rem 0;
  border-bottom: 0px;
}

.list__item--border {
  border: none;
  padding: 0 0.5rem;
}

.button--border {
  border-radius: 3rem;
}

.scroll--hover {
  overflow-x: auto;
}

.tag--transform {
  text-transform: capitalize;
}

@media screen and (min-width: 648px) {
  .input__search {
    margin: 0.5rem 25%;
  }

  .scroll--hover::-webkit-scrollbar {
    background: transparent;
    height: 0.4rem;
  }

  .scroll--hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: content-box;
    background-color: transparent;
  }

  .scroll--hover:hover::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
  }
}
